includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 9

    excludePaths:
        - app/Http/Middleware/HandleInertiaRequests.php

    reportUnmatchedIgnoredErrors: false
